<div class="math-problem" data-equation-id="<%= addition_equation.id %>">
  <p class="equation">
    <%= addition_equation.operand1 %> + <%= addition_equation.operand2 %> = ?
  </p>
  
  <div class="button-group">
    <button class="show-answer-btn btn btn-primary">Show Answer</button>
    <%= link_to "New Equation", :random_addition_equations, 
                class: "new-equation-btn btn btn-secondary",
                data: { 
                  turbo_method: :get,
                  turbo_stream: true
                } %>
  </div>
  
  <div class="answer" style="display: none;">
    <p class="result">
      <%= addition_equation.operand1 %> + <%= addition_equation.operand2 %> = <strong><%= addition_equation.result %></strong>
    </p>
  </div>
</div> 